<style>
  .review-block {
    background: #FFFFFF;
    border: 1px solid #C7DDE6;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
  }
  .review-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .author-avatar {
    display: flex;
    align-items: center;
  }
  .author-avatar .author-avatar-text {
    display: inline-block;
    width: 66px;
    height: 66px;
    line-height: 66px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #D6E5EB;
  }
  .reviews-blocks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

{% if reviews %}
    <h3>{{ text_reviews_word }}</h3>

    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div class="form-group input-group input-group-sm">
                <select id="input-sort" class="form-control review-sort">

                    {% for sorts in sorts %}
                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                            <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                        {% else %}
                            <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                        {% endif %}
                    {% endfor %}

                </select>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <div class="form-group">
                <input type="checkbox" value="{{ only_with_photo }}" id="input-with-photo" {% if withPhoto %}checked{% endif %}>
                <label for="input-with-photo">{{ text_only_with_photo }}</label>
            </div>
        </div>
    </div>

    {% for review in reviews %}
      <div class="review-block">
        <div class="review-block-header">

          <div class="author-avatar">
            <div class="author-avatar-text">{{ review.first_letter_author }}</div>

            <span style="margin: 0 20px;">{{ review.author }}</span>
            <span>
              {{ review.rating }}

                {% for i in 1..5 %}
                  {% if review.rating < i %}
                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                    {% else %}
                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  {% endif %}
                {% endfor %}
            </span>
          </div>

          <span>{{ review.date_added }}</span>
        </div>
        <p>{{ review.text }}</p>
        <p>
          {% for image in review.images %}
            <img src="{{ image }}" alt="">
          {% endfor %}
        </p>

          <p>
            <span>{{ text_do_you_help_review }}</span>
            <button class="btn btn-default help-review-btn" data-review-id="{{ review.review_id }}" {% if not review.display_help_question %}disabled="disabled"{% endif %}>{{ text_yes }} <span class="review-help-count">{% if review.help_count %}{{ review.help_count }}{% endif %}</span></button>
            <button class="btn btn-default not-help-review-btn" data-review-id="{{ review.review_id }}" {% if not review.display_help_question %}disabled="disabled"{% endif %}>{{ text_no }} <span class="review-not-help-count">{% if review.not_help_count %}{{ review.not_help_count }}{% endif %}</span></button>
          </p>

      </div>
    {% endfor %}

    <div class="text-right">{{ pagination }}</div>
{% else %}
    <p>{{ text_no_reviews }}</p>
{% endif %}
