{{ header }}
<style>
  .review-image-block {
    display: inline-block;
    position: relative;
  }
  .delete-review-image-button {
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .delete-review-image-button:focus {
    outline: none;
  }

  #drop-files {
    position:relative;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 4px dashed rgba(0,0,0,0.2);
    text-align: center;
    height: 100px;
    width: 500px;
  }

  #drop-files p {
    clear:none;
    padding:0;
    margin:0;
  }

  #uploaded-holder {
    display: none;
    position:relative;
    margin: 0 auto;
  }

  #dropped-files {
    display:block;
    margin: 0 auto;
    width: 950px;
  }

  #upload-button {
    z-index: 9999;
    display: none;
    margin: 20px 0;
  }

  .drop-button {
    display: block;
    position: absolute;
    z-index: 9999;
    padding: 5px;
    width: 100%;
    background: rgba(0,0,0,0.6);
    font-size: 1em;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
  }

  #dropped-files .review-image-preview {
    position: relative;
    height: 200px;
    width: 300px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    float: left;
    border-radius: 4px;
    margin: 0 7px 7px 0;
    overflow: hidden;
  }

  #upload-button .ss-upload {
    font-size: 0.7em;
  }

  #upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    border-radius: 10px;
  }

  #upload-button span {
    position:relative;
    text-align: center;
    background: white;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 6px;
    margin-right: 8px;
  }
  #upload-button a:hover {
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;
  }

  #dropped-files #upload-button .delete {
    padding: 7px 6px 4px 6px;
    border-radius: 100px;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    font-size: 1em;
    margin-left: 8px;
  }

  #dropped-files #upload-button .delete:hover {
    background: rgba(0,0,0,0.8);
  }

  #file-name-holder h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 3em;
    margin: 0;
  }

  #uploaded-files {
    width:500px;
    list-style:none;
    margin:0 auto;
    padding: 10px;
    color: #545454;
  }

  #uploaded-files li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 25px;
    color: #545454;
  }

  #uploaded-files a {
    color: #1bacbf;
  }

  .review-add-image-zone {
    height: 100px;
    margin-top: 50px;
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-review" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-author">{{ entry_author }}</label>
            <div class="col-sm-10">
              <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
              {% if error_author %}
              <div class="text-danger">{{ error_author }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />
              {% if error_product %}
              <div class="text-danger">{{ error_product }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_text }}</label>
            <div class="col-sm-10">
              <textarea name="text" cols="60" rows="8" placeholder="{{ entry_text }}" id="input-text" class="form-control">{{ text }}</textarea>
              {% if error_text %}
              <div class="text-danger">{{ error_text }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-hidden-customer-info">{{ entry_images }}</label>
            <div class="col-sm-10">
              {% for review_image in review_images %}
                <span class="review-image-block">
                  <img src="{{ review_image.image }}" alt="{{ product }}" class="review-image">
                  <button type="button" class="delete-review-image-button" data-image-id="{{ review_image.image_id }}">{{ button_delete_image }}</button>
                </span>
              {% endfor %}

              <div class="review-add-image-zone">
                <div id="drop-files" ondragover="return false">
                  <input type="file" name="review-image[]" id="uploadbtn" accept=".jpg, .jpeg, .png"  multiple />
                  <p>{{ text_click_or_drag_n_drop }}</p>
                  <p>{{ text_max_images }}</p>
                </div>
                <div id="uploaded-holder">
                  <div id="dropped-files">
                    <div id="upload-button">
                      <span>0 {{ text_files }}</span>
                      <a href="#" class="delete">{{ button_delete_all }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-hidden-customer-info">{{ entry_hidden_customer_info }}</label>
            <div class="col-sm-10">
              <input name="hidden_customer_info" {% if hidden_customer_info == '1' %}checked="checked"{% endif %} type="checkbox" id="input-hidden-customer-info" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_rating }}</label>
            <div class="col-sm-10">
              <label class="radio-inline"> {% if rating == 1 %}
                <input type="radio" name="rating" value="1" checked="checked" />
                1
                {% else %}
                <input type="radio" name="rating" value="1" />
                1
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 2 %}
                <input type="radio" name="rating" value="2" checked="checked" />
                2
                {% else %}
                <input type="radio" name="rating" value="2" />
                2
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 3 %}
                <input type="radio" name="rating" value="3" checked="checked" />
                3
                {% else %}
                <input type="radio" name="rating" value="3" />
                3
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 4 %}
                <input type="radio" name="rating" value="4" checked="checked" />
                4
                {% else %}
                <input type="radio" name="rating" value="4" />
                4
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 5 %}
                <input type="radio" name="rating" value="5" checked="checked" />
                5
                {% else %}
                <input type="radio" name="rating" value="5" />
                5
                {% endif %} </label>
              {% if error_rating %}
              <div class="text-danger">{{ error_rating }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-date-added">{{ entry_date_added }}</label>
            <div class="col-sm-3">
              <div class="input-group datetime">
                <input type="text" name="date_added" value="{{ date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-added" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                
                {% if status %}
                
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                
                {% else %}
                
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                
                {% endif %}
              
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
      var $ = jQuery.noConflict();

      var mainImagesFiles = []; // переменная. будет содержать данные файлов

      // // заполняем переменную данными, при изменении значения поля file
      // $('input[type=file]').on('change', function(){
      //     var fileIdCounter = 0;
      //
      //     for (var i = 0; i < this.files.length; i++) {
      //         fileIdCounter++;
      //         var file = this.files[i];
      //         var fileId = fileIdCounter;
      //
      //         mainImagesFiles.push({
      //             id: fileId,
      //             file: file
      //         });
      //     }
      // });

      $(document).ready(function() {
          // В dataTransfer помещаются изображения которые перетащили в область div
          jQuery.event.props.push('dataTransfer');

          // Максимальное количество загружаемых изображений за одни раз
          var maxFiles = 10;

          // Оповещение по умолчанию
          var errMessage = 0;

          // Кнопка выбора файлов
          var defaultUploadBtn = $('#uploadbtn');

          // Массив для всех изображений
          var dataArray = [];



          // Область информер о загруженных изображениях - скрыта
          $('#uploaded-files').hide();

          // Метод при падении файла в зону загрузки
          $('#drop-files').on('drop', function(e) {
              // Передаем в files все полученные изображения
              var files = e.dataTransfer.files;
              var fileIdCounter = 0;
              defaultUploadBtn.val(files)
              // for (var i = 0; i < e.dataTransfer.files.length; i++) {
              //     fileIdCounter++;
              //     var file = e.dataTransfer.files[i];
              //     var fileId = fileIdCounter;
              //
              //     mainImagesFiles.push({
              //         id: fileId,
              //         file: file
              //     });
              // }
              // Проверяем на максимальное количество файлов
              if (files.length <= maxFiles) {
                  // Передаем массив с файлами в функцию загрузки на предпросмотр
                  loadInView(files);
              } else {
                  alert('{{ text_u_cant_load_more }} '+maxFiles+' {{ text_images }}!');
                  files.length = 0; return;
              }
          });

          // При нажатии на кнопку выбора файлов
          defaultUploadBtn.on('change', function() {
              // Заполняем массив выбранными изображениями
              var files = $(this)[0].files;
              var fileIdCounter = 0;

              for (var i = 0; i < $(this)[0].files.length; i++) {
                  fileIdCounter++;
                  var file = $(this)[0].files[i];
                  var fileId = fileIdCounter;

                  mainImagesFiles.push({
                      id: fileId,
                      file: file
                  });
              }
              // Проверяем на максимальное количество файлов
              if (files.length <= maxFiles) {
                  // Передаем массив с файлами в функцию загрузки на предпросмотр
                  loadInView(files);
                  // Очищаем инпут файл путем сброса формы
                  $('#frm').each(function(){
                      this.reset();
                  });

              } else {
                  alert('{{ text_u_cant_load_more }} '+maxFiles+' {{ text_images }}!');
                  files.length = 0;
              }
          });

          // Функция загрузки изображений на предросмотр
          function loadInView(files) {
              // Показываем обасть предпросмотра
              $('#uploaded-holder').show();

              // Для каждого файла
              $.each(files, function(index, file) {

                  // Несколько оповещений при попытке загрузить не изображение
                  if (!files[index].type.match('image.*')) {

                      if(errMessage == 0) {
                          $('#drop-files p').html('{{ error_only_image }}');
                          errMessage = 0;
                      }
                      return false;
                  }

                  // Проверяем количество загружаемых элементов
                  if((dataArray.length+files.length) <= maxFiles) {
                      // показываем область с кнопками
                      $('#upload-button').css({'display' : 'block'});
                  }
                  else { alert('{{ text_u_cant_load_more }} '+maxFiles+' {{ text_images }}!'); return; }

                  // Создаем новый экземпляра FileReader
                  var fileReader = new FileReader();
                  // Инициируем функцию FileReader
                  fileReader.onload = (function(file) {

                      return function(e) {
                          // Помещаем URI изображения в массив
                          dataArray.push({name : file.name, value : this.result});
                          addImage((dataArray.length-1));
                      };

                  })(files[index]);
                  // Производим чтение картинки по URI
                  fileReader.readAsDataURL(file);
              });
              return false;
          }

          // Процедура добавления эскизов на страницу
          function addImage(ind) {
              // Если индекс отрицательный значит выводим весь массив изображений
              if (ind < 0 ) {
                  start = 0; end = dataArray.length;
              } else {
                  // иначе только определенное изображение
                  start = ind; end = ind+1; }
              // Оповещения о загруженных файлах
              if(dataArray.length == 0) {
                  // Если пустой массив скрываем кнопки и всю область
                  $('#upload-button').hide();
                  $('#uploaded-holder').hide();
              } else if (dataArray.length == 1) {
                  $('#upload-button span').html("{{ text_was_selected_one_file }}");
              } else {
                  $('#upload-button span').html(dataArray.length+" {{ text_was_selected_files }}");
              }
              // Цикл для каждого элемента массива
              for (i = start; i < end; i++) {
                  // размещаем загруженные изображения
                  if($('#dropped-files > .review-image-preview').length <= maxFiles) {
                      $('#dropped-files').append('<div id="img-'+i+'" class="review-image-preview" style="background: url('+dataArray[i].value+'); background-size: cover;"> <a href="#" id="drop-'+i+'" class="drop-button">{{ button_delete_image }}</a></div>');
                  }
              }
              return false;
          }

          // Функция удаления всех изображений
          function restartFiles() {

              // Установим бар загрузки в значение по умолчанию
              $('#loading-bar .loading-color').css({'width' : '0%'});
              $('#loading').css({'display' : 'none'});
              $('#loading-content').html(' ');

              // Удаляем все изображения на странице и скрываем кнопки
              $('#upload-button').hide();
              $('#dropped-files > .review-image-preview').remove();
              $('#uploaded-holder').hide();

              // Очищаем массив
              dataArray.length = 0;
              $('#uploadbtn').val('')
              mainImagesFiles = [];

              return false;
          }

          // Удаление только выбранного изображения
          $("#dropped-files").on("click","a[id^='drop']", function(event) {
              event.preventDefault();
              // получаем название id
              var elid = $(this).attr('id');
              // создаем массив для разделенных строк
              var temp = new Array();
              // делим строку id на 2 части
              temp = elid.split('-');
              // получаем значение после тире тоесть индекс изображения в массиве
              dataArray.splice(temp[1],1);
              mainImagesFiles.splice(temp[1],1);
              // Удаляем старые эскизы
              $('#dropped-files > .review-image-preview').remove();
              // Обновляем эскизи в соответсвии с обновленным массивом
              addImage(-1);
          });

          $('#dropped-files').delegate('.review-image-preview', 'click', function () {
              if($(this).outerWidth() === 300) {
                  $(this).css('width', 600)
                  $(this).css('height', 400)
              } else {
                  $(this).css('width', 300)
                  $(this).css('height', 200)
              }
          })

          // Удалить все изображения кнопка
          $('#dropped-files #upload-button .delete').click(restartFiles);

          // Простые стили для области перетаскивания
          $('#drop-files').on('dragenter', function() {
              $(this).css({'box-shadow' : 'inset 0px 0px 20px rgba(0, 0, 0, 0.1)', 'border' : '4px dashed #bb2b2b'});
              return false;
          });

          $('#drop-files').on('drop', function() {
              $(this).css({'box-shadow' : 'none', 'border' : '4px dashed rgba(0,0,0,0.2)'});
              return false;
          });
      });
  </script>
  <script type="text/javascript"><!--
$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product\']').val(item['label']);
		$('input[name=\'product_id\']').val(item['value']);		
	}	
});
//--></script>
<script>
  $('.delete-review-image-button').on('click', function () {
    if(confirm('{{ confirm_delete_image }}')) {
        const _this = $(this)
        $.ajax({
            type: "POST",
            url: 'index.php?route=catalog/review/deleteReviewImage&image_id=' + $(this).data('image-id') + '&user_token={{ user_token }}',
            success: function() {
                _this.parent().remove();
            }
        });
    }
  })
</script>
</div>
{{ footer }}