{{ header }}
<style>
  .review-image-block {
    display: inline-block;
    position: relative;
  }
  .delete-review-image-button {
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .delete-review-image-button:focus {
    outline: none;
  }

  #drop-files {
    position:relative;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 4px dashed rgba(0,0,0,0.2);
    text-align: center;
    height: 100px;
    width: 500px;
  }

  #drop-files p {
    clear:none;
    padding:0;
    margin:0;
  }

  #uploaded-holder {
    display: none;
    position:relative;
    margin: 0 auto;
  }

  #dropped-files {
    display:block;
    margin: 0 auto;
    width: 950px;
  }

  #upload-button {
    z-index: 9999;
    display: none;
    margin: 20px 0;
  }

  .drop-button {
    display: block;
    position: absolute;
    z-index: 9999;
    padding: 5px;
    width: 100%;
    background: rgba(0,0,0,0.6);
    font-size: 1em;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
  }

  #dropped-files .review-image-preview {
    position: relative;
    height: 200px;
    width: 300px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    float: left;
    border-radius: 4px;
    margin: 0 7px 7px 0;
    overflow: hidden;
  }

  #upload-button .ss-upload {
    font-size: 0.7em;
  }

  #upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    border-radius: 10px;
  }

  #upload-button span {
    position:relative;
    text-align: center;
    background: white;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 6px;
    margin-right: 8px;
  }
  #upload-button a:hover {
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;
  }

  #dropped-files #upload-button .delete {
    padding: 7px 6px 4px 6px;
    border-radius: 100px;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    font-size: 1em;
    margin-left: 8px;
  }

  #dropped-files #upload-button .delete:hover {
    background: rgba(0,0,0,0.8);
  }

  #file-name-holder h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 3em;
    margin: 0;
  }

  #uploaded-files {
    width:500px;
    list-style:none;
    margin:0 auto;
    padding: 10px;
    color: #545454;
  }

  #uploaded-files li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 25px;
    color: #545454;
  }

  #uploaded-files a {
    color: #1bacbf;
  }

  .review-add-image-zone {
    height: 100px;
    margin-top: 50px;
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-review" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-review" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-author">{{ entry_author }}</label>
            <div class="col-sm-10">
              <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
              {% if error_author %}
              <div class="text-danger">{{ error_author }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="product" value="{{ product }}" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />
              {% if error_product %}
              <div class="text-danger">{{ error_product }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_text }}</label>
            <div class="col-sm-10">
              <textarea name="text" cols="60" rows="8" placeholder="{{ entry_text }}" id="input-text" class="form-control">{{ text }}</textarea>
              {% if error_text %}
              <div class="text-danger">{{ error_text }}</div>
              {% endif %} </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-hidden-customer-info">{{ entry_images }}</label>
            <div class="col-sm-10">
              {% for review_image in review_images %}
                <span class="review-image-block">
                  <img src="{{ review_image.image }}" alt="{{ product }}" class="review-image">
                  <button type="button" class="delete-review-image-button" data-image-id="{{ review_image.image_id }}">{{ button_delete_image }}</button>
                </span>
              {% endfor %}

              <div class="review-add-image-zone">
                <input type="file" name="review-image[]" id="uploadbtn" accept=".jpg, .jpeg, .png"  multiple />
                <p>{{ text_click_or_drag_n_drop }}</p>
                <p>{{ text_max_images }}</p>
              </div>
              {% if error_image %}
                <div class="text-danger">{{ error_image }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-hidden-customer-info">{{ entry_hidden_customer_info }}</label>
            <div class="col-sm-10">
              <input name="hidden_customer_info" {% if hidden_customer_info == '1' %}checked="checked"{% endif %} type="checkbox" id="input-hidden-customer-info" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_rating }}</label>
            <div class="col-sm-10">
              <label class="radio-inline"> {% if rating == 1 %}
                <input type="radio" name="rating" value="1" checked="checked" />
                1
                {% else %}
                <input type="radio" name="rating" value="1" />
                1
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 2 %}
                <input type="radio" name="rating" value="2" checked="checked" />
                2
                {% else %}
                <input type="radio" name="rating" value="2" />
                2
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 3 %}
                <input type="radio" name="rating" value="3" checked="checked" />
                3
                {% else %}
                <input type="radio" name="rating" value="3" />
                3
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 4 %}
                <input type="radio" name="rating" value="4" checked="checked" />
                4
                {% else %}
                <input type="radio" name="rating" value="4" />
                4
                {% endif %} </label>
              <label class="radio-inline"> {% if rating == 5 %}
                <input type="radio" name="rating" value="5" checked="checked" />
                5
                {% else %}
                <input type="radio" name="rating" value="5" />
                5
                {% endif %} </label>
              {% if error_rating %}
              <div class="text-danger">{{ error_rating }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-date-added">{{ entry_date_added }}</label>
            <div class="col-sm-3">
              <div class="input-group datetime">
                <input type="text" name="date_added" value="{{ date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD HH:mm:ss" id="input-date-added" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                
                {% if status %}
                
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                
                {% else %}
                
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                
                {% endif %}
              
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
      var $ = jQuery.noConflict();

      var mainImagesFiles = []; // переменная. будет содержать данные файлов

      // // заполняем переменную данными, при изменении значения поля file
      $('input[type=file]').on('change', function(){
          var files = this.files;
      });

      $(document).ready(function() {
          // В dataTransfer помещаются изображения которые перетащили в область div
          jQuery.event.props.push('dataTransfer');

          // Максимальное количество загружаемых изображений за одни раз
          var maxFiles = 10;

          // Оповещение по умолчанию
          var errMessage = 0;

          // Кнопка выбора файлов
          var defaultUploadBtn = $('#uploadbtn');

          // При нажатии на кнопку выбора файлов
          defaultUploadBtn.on('change', function() {
              // Заполняем массив выбранными изображениями
              var files = $(this)[0].files;

              // Проверяем на максимальное количество файлов
              if (files.length > maxFiles) {
                  alert('{{ text_u_cant_load_more }} '+maxFiles+' {{ text_images }}!');
                  files.length = 0;
              }
          });
      });
  </script>
  <script type="text/javascript"><!--
$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',			
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product\']').val(item['label']);
		$('input[name=\'product_id\']').val(item['value']);		
	}	
});
//--></script>
<script>
  $('.delete-review-image-button').on('click', function () {
    if(confirm('{{ confirm_delete_image }}')) {
        const _this = $(this)
        $.ajax({
            type: "POST",
            url: 'index.php?route=catalog/review/deleteReviewImage&image_id=' + $(this).data('image-id') + '&user_token={{ user_token }}',
            success: function() {
                _this.parent().remove();
            }
        });
    }
  })
</script>
</div>
{{ footer }}